@model IEnumerable<Library_ManagementSystem.Models.BookRequest>

@{
    ViewData["Title"] = "ViewRequest";
}

<h1>ViewRequest</h1>

    @if (TempData["SuccessMessage"] != null){
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
            </div>
    }
    @if (TempData["ErrorMessage"] != null){
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
            </div>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                <form asp-controller="Request" asp-action="AcceptRequest" method="post">
                    <input type="hidden" name="requestId" value="@item.id" />
                    <button type="submit" class="btn btn-success" >Accept</button>
                </form>
                <form asp-controller="Request" asp-action="RejectRequest" method="post">
                        <input type="hidden" name="requestId" value="@item.id" />
                        <button type="submit" class="btn btn-danger">Reject</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
