@model IEnumerable<Library_ManagementSystem.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateMember">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.ActionLink("Edit-member", "EditMember", new { id=item.MemberId }) |
                @Html.ActionLink("view-Details", "DetailsMember", new { id=item.MemberId }) |

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModalMember"
                data-id="@item.MemberId" data-title="@item.FullName">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModalMember" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <strong id="nameTitle"></strong>?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <input type="hidden" name="nameId" id="nameId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
        var deleteModal = document.getElementById("deleteModalMember");

    deleteModal.addEventListener('show.bs.modal', function (e) {
        var button = e.relatedTarget;
        var Id = button.getAttribute('data-id');
        var nameTitle = button.getAttribute('data-title');

        // Update the modal's confirmation message with the member name
        var modalBody = deleteModal.querySelector(".modal-body");
        modalBody.innerHTML = 'Are you sure you want to delete <strong>' + nameTitle + '</strong>?';

        // Set the form action dynamically
        var modelform = deleteModal.querySelector("#deleteForm");
        modelform.action = '/Member/DeleteMember/' + Id; 
        
    });

</script>